<h1> Crear Cliente</h1>

<form action="/clientes" method="post">
    <div>
        <label for="nombre">nombre:</label>
        <input type="text" name="nombre" id="nombre">
    </div>
    <button type="submit">Guardar</button>
</form>