<h1> Editar Cliente</h1>

<form action="/clientes/<%= cliente.id %>?_method=PUT" method="post">
    <div>
        <label for="nombre">nombre:</label>
        <input type="text" name="nombre" id="nombre" value="<%= cliente.nombre %>">
    </div>
    <button type="submit">Guardar</button>
</form>